 .body1{
    /* background-image: url(image1.jpeg); */
    background-color:rgb(241, 182, 188);
} 
    #image{
        width: 100%;
        height: 420px;
        /* padding-left: 50px; */
        text-align: center;

    }
    .breadcrumb  a {
        color: white;
        padding-left: 10px;
     }
     .scrollspy-example bg-light p-3 rounded-2{
        background-color: rgb(241, 182, 188);
     }

     #moviesheading{
        color: blue;
        font-size: xx-large;
     }

/* 
For the events height based on screen width media queries
*/

@media screen and (max-width: 1080px) {
    .d-block{
        height: 70vh;
    }
}

@media screen and (max-width: 420px) {
    .d-block{
        height: 50vh;
    }
}